<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://lit-dawn-64062.herokuapp.com/">Check out Group Chat Room</a>
    </small>
    <nav>
      <ul>
        <li> <%= link_to "About", pages_about_path %> </li>
      </ul>
    </nav>
  </footer>
</div>
